.nanido{
  width: 80%;
  margin: auto;
  text-align: center;
}

.nanido>*{
  line-height: 40px;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

#e,#n,#h {
  display: none;
}

#line {
  width: 90%;
  margin: auto;
}

.record {
  height: 50px;
  width: 600px;
  margin: auto;
}

#highscore {
  width: 60%;
  height: 50px;
  float: left;
  text-align: center;
}

#boss {
  width: 40%;
  height: 50px;
  float: left;
  text-align: center;
}

.button {
  display: none;
  float: none;
}

@media screen and (max-width:599px) {
#myCanvas {
  width: 100%;
}

.record {
  width: 100%;
  font-size: 14px;
}

.button {
  display: block;
  width: 50%
  float:left;
}

.move {
  width: 50%;
  height: 120px;
  float:left;
}

.ctrl {
  width: 50%;
  height: 120px;
  float: left;
  padding-top: 0px;
}

#movebutton {
  background: gray;
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 75px;
  text-align: center;
}

#movebutton>*{
  height: 33%;
  font-size: 20px;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.left,.right{
  width: 50%;
  float: left;
  display: inline-block;
}

.left{
  text-align: left;
}


.right{
  text-align: right;
}

.down{
  float: none;
  display: inline-block;
}

.down span{
  vertical-align: -0.5em;
}

#ctrlbutton {
  background: gray;
  width: 100px;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  border-radius: 30px;
  text-align: center;
  line-height:80px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
}
